{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="p-4 space-y-4 bg-custom-green">
    <div class="space-y-4 relative flex justify-between items-center">
        <h1>Click n' party</h1>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="#" id="openModal" class="bg-custom_green_dark text-custom-green font-bold py-2 px-4 rounded-full w-10 h-10 flex items-center justify-center">
            {{ app.user.prenom|slice(0, 1) }}
        </a>
        {% else %}
        <a href="/login" class="bg-custom_green_dark text-custom-green font-bold py-2 px-4 h-10 flex items-center justify-center">
            Se connecter
        </a>
        {% endif %}
    </div>
    {% include 'home/modal.html.twig' %}
    <div id="categories" class="flex whitespace-nowrap overflow-x-auto items-stretch">
        {% for categorie in categories %}
        <div class="categorie bg-white p-4 flex flex-col items-center justify-center cursor-pointer w-16 h-16 md:w-20 md:h-20 m-1"
            data-categorie-id="{{ categorie.id }}">
            <img class="w-16 h-16 md:w-12 md:h-12 object-scale-down" src="{{ categorie.icon }}" alt="{{ categorie.libelle }}">
            <p class="text-xs">{{ categorie.libelle }}</p>
        </div>
        {% endfor %}
    </div>
    <div id="locations" class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        {% for location in locations %}
            {% set isFavoris = false %}
            {% for favori in favoris %}
                {% if favori.getLocations.id == location.id %}
                    {% set isFavoris = true %}
                {% endif %}
            {% endfor %}
                <a href="{{ path('app_location', {id: location.id}) }}" class="location overflow-hidden p-2 flex flex-col space-y-4 rounded-3xl"
                    data-categorie-ids="{{ location.Categories|map(c => c.id)|join(',') }}">
                    <div class="relative">
                        <div class="swiper-container overflow-hidden">
                            <div class="swiper-wrapper">
                                {% for image in location.images %}
                                    <div class="swiper-slide">
                                        <img class="w-full h-[230px] object-cover mb-6 rounded-3xl" src="{{ asset('uploads/' ~ image.Nom) }}" alt="{{ location.Nom }}">
                                        {% if isFavoris %}
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="green" class="add-favoris absolute top-0 right-0 m-4 h-6 md:h-6 lg:h-8" viewBox="0 0 24 24" stroke="green" data-location-id="{{ location.id }}">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                                            </svg>
                                        {% else %}
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="rgba(0, 0, 0, 0.5)" class="add-favoris absolute top-0 right-0 m-4 h-6 md:h-6 lg:h-8" viewBox="0 0 24 24" stroke="white" data-location-id="{{ location.id }}">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                                            </svg>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                            <div style="color:#053F31;" class="swiper-button-next absolute top-2/3 right-0 transform -translate-y-1/2"></div>
                            <div style="color:#053F31;" class="swiper-button-prev absolute top-2/3 left-0 transform -translate-y-1/2"></div>
                        </div>
                        <div class="flex items-center mb-2">
                            <h2 class="text-sm py-0.5 px-2 rounded-full border border-black w-fit-content">{{ location.nom }}</h2>
                            {% for categorie in location.getCategories() %}
                                <p class="text-sm py-0.5 px-2 rounded-full border border-black w-fit-content ml-1">{{ categorie.getLibelle() }}</p>
                            {% endfor %}
                        </div>   
                        <div class="flex items-center mb-2">    
                            <p class="text-sm py-0.5 px-2 rounded-full border border-black w-fit-content">{{ location.adresse }}</p>         
                            <p class="text-sm py-0.5 px-2 rounded-full border border-black w-fit-content ml-1">{{ location.prix }} $ par jour</p>
                        </div>
                    </div>
                </a>
        {% endfor %}
    </div>
</div>

{% endblock %}