{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container mx-auto px-4">
    <h1 class="text-4xl font-bold mb-8">Accueil</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% for categorie in categories %}
        <div class="categorie bg-white shadow-lg rounded-lg overflow-hidden p-4 flex flex-col items-center space-y-2 cursor-pointer hover:bg-gray-200 transition-colors duration-200"
            data-categorie-id="{{ categorie.id }}">
            <img class="w-12 h-12 object-scale-down rounded-full" src="{{ categorie.icon }}" alt="{{ categorie.libelle }}">
            <h2 class="text-xl font-bold">{{ categorie.libelle }}</h2>
        </div>
        {% endfor %}
    </div>
    <div id="locations" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-8">
        {% for location in locations %}
        <div class="location bg-white shadow-lg rounded-lg overflow-hidden p-6 flex flex-col space-y-4"
            data-categorie-ids="{{ location.Categories|map(c => c.id)|join(',') }}">
            <img class="w-full h-64 lg:h-full object-scale-down" src="{{ location.image }}" alt="{{ location.nom }}">
            <h2 class="text-xl font-bold">{{ location.nom }}</h2>
            <p class="text-gray-500">{{ location.prix }} $ par jour</p>
            <p class="text-sm text-gray-400"> {{ location.dateDebutDisponibilite|date('d-m-Y') }} - {{
                location.dateFinDisponibilite|date('d-m-Y') }}
            </p>
        </div>
        {% endfor %}
    </div>
</div>

{% block javascripts %}
{{ encore_entry_script_tags('app') }}
{% endblock %}

{% endblock %}