{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="p-4 space-y-4">
    <div class="space-y-4 relative flex justify-between items-center">
        <h1>Click n' party</h1>
        <a href="/profil" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full w-10 h-10 flex items-center justify-center">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ app.user.prenom|slice(0, 1) }}
            {% else %}
                Se connecter
            {% endif %}
        </a>
    </div>
    <div id="categories" class="flex whitespace-nowrap overflow-x-auto items-stretch">
        {% for categorie in categories %}
        <div class="categorie bg-white hover:bg-green-500 shadow-lg rounded-lg p-4 flex flex-col items-center justify-center cursor-pointer w-24 h-24 md:w-20 md:h-20 m-2.5 sm:min-h-[100px] md:min-h-[100px]"
            data-categorie-id="{{ categorie.id }}">
            <img class="w-16 h-16 md:w-12 md:h-12 object-scale-down" src="{{ categorie.icon }}" alt="{{ categorie.libelle }}">
            <p class="text-xs">{{ categorie.libelle }}</p>
        </div>
        {% endfor %}
    </div>
    <div id="locations" class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for location in locations %}
            {% set isFavoris = false %}
            {% for favori in favoris %}
                {% if favori.getLocations.id == location.id %}
                    {% set isFavoris = true %}
                {% endif %}
            {% endfor %}
                <a href="{{ path('app_location', {id: location.id}) }}" class="location bg-white shadow-lg rounded-lg overflow-hidden p-6 flex flex-col space-y-4"
                    data-categorie-ids="{{ location.Categories|map(c => c.id)|join(',') }}">
                    <div class="relative">
                        <div class="swiper-container overflow-hidden">
                            <div class="swiper-wrapper">
                                {% for image in location.images %}
                                    <div class="swiper-slide">
                                        <img class="w-full h-64 md:h-96 lg:h-96 object-cover mb-6 rounded" src="{{ asset('uploads/' ~ image.Nom) }}" alt="{{ location.Nom }}">
                                        {% if isFavoris %}
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="green" class="add-favoris absolute top-0 right-0 m-4 h-6 md:h-6 lg:h-8" viewBox="0 0 24 24" stroke="green" data-location-id="{{ location.id }}">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                                            </svg>
                                        {% else %}
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="rgba(0, 0, 0, 0.5)" class="add-favoris absolute top-0 right-0 m-4 h-6 md:h-6 lg:h-8" viewBox="0 0 24 24" stroke="white" data-location-id="{{ location.id }}">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                                            </svg>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>                        
                        <h2>{{ location.nom }}</h2>
                        <p>{{ location.prix }} $ par jour</p>
                        <p> {{ location.dateDebutDisponibilite|date('d-m-Y') }} - {{
                            location.dateFinDisponibilite|date('d-m-Y') }}
                        </p>
                    </div>
                </a>
        {% endfor %}
    </div>
</div>

{% endblock %}