{% extends 'base.html.twig' %}

{% block title %}Location - {{ location.getNom() }}{% endblock %}

{% block body %}
    <h1>{{ location.getNom() }}</h1>
    <div class="swiper-container overflow-hidden">
        <div class="swiper-wrapper">
            {% for image in location.images %}
                <div class="swiper-slide">
                    <img class="w-full h-64 md:h-96 lg:h-96 object-cover mb-6 rounded" src="{{ asset('uploads/' ~ image.Nom) }}" alt="{{ location.Nom }}">
                </div>
            {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>                        
    <p>Description: {{ location.getDescription() }}</p>
    <p>Prix: {{ location.getPrix() }} $ par jour</p>
    <p>Adresse: {{ location.getAdresse() }}</p>
    <p>Disponible du {{ location.getDateDebutDisponibilite()|date('d-m-Y') }} au {{ location.getDateFinDisponibilite()|date('d-m-Y') }}</p>
    <p>Capacité maximale: {{ location.getCapaciteMaximal() }}</p>
    <p>Accessible aux personnes à mobilité réduite: {{ location.isPMR() ? 'Oui' : 'Non' }}</p>
    <p>Actif: {{ location.isActif() ? 'Oui' : 'Non' }}</p>
    <p>Catégories: 
        {% for category in location.getCategories() %}
            {{ category.getLibelle() }}
        {% endfor %}
    </p>
    {{ form_start(reservationForm) }}
    {{ form_widget(reservationForm) }}
    <button type="submit" class="btn btn-primary">Réserver</button>
    {{ form_end(reservationForm) }}

    {% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}
{% endblock %}