{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="flex items-center justify-center content-center h-svh bg-custom-green-light">
    <div class="flex flex-col items-center sm:w-96 h-124 m-auto bg-custom-green rounded-[30px] shadow-md p-6 space-y-3">
        <h1 class="text-3xl font-bold mb-3">Inscription</h1>

        <p class="mb-3">Bienvenue sur Click'n Party</p>

        {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm.Nom, {
            label: false,
            attr: {
                class: 'form-control py-2 px-4 rounded-full w-full" text-lg mb-3',
                placeholder: 'Nom',
                required: 'required',
            }
        }) }}
        <div class="form-error text-center text-red-500 mb-2 mt-2">
            {{ form_errors(registrationForm.Nom) }}
        </div>
        {{ form_widget(registrationForm.Prenom, {
            label: false,
            attr: {
                class: 'form-control py-2 px-4 rounded-full w-full" text-lg mb-3',
                placeholder: 'Prénom',
                required: 'required',
            }
        }) }}
        <div class="form-error text-center text-red-500 mb-2 mt-2">
            {{ form_errors(registrationForm.Prenom) }}
        </div>
        {{ form_widget(registrationForm.Telephone, {
            label: false,
            attr: {
                class: 'form-control py-2 px-4 rounded-full w-full" text-lg mb-3',
                placeholder: 'Téléphone',
                required: 'required',
            }
        }) }}
        <div class="form-error text-center text-red-500 mb-2 mt-2">
            {{ form_errors(registrationForm.Telephone) }}
        </div>
        {{ form_widget(registrationForm.Adresse, {
            label: false,
            attr: {
                class: 'form-control py-2 px-4 rounded-full w-full" text-lg mb-3',
                placeholder: 'Adresse',
                required: 'required',
            }
        }) }}
        <div class="form-error text-center text-red-500 mb-2 mt-2">
            {{ form_errors(registrationForm.Adresse) }}
        </div>
        {{ form_widget(registrationForm.email, {
            label: false,
            attr: {
                class: 'form-control py-2 px-4 rounded-full w-full" text-lg mb-3',
                placeholder: 'Email',
                required: 'required',
            }
        }) }}
        <div class="form-error text-center text-red-500 mb-2 mt-2">
            {{ form_errors(registrationForm.email) }}
        </div>
        {{ form_widget(registrationForm.plainPassword, {
            attr: {
                class: 'form-control py-2 px-4 rounded-full w-full text-lg mb-3',
                placeholder: 'Mot de passe',
                required: 'required',
            }
        }) }}
        <div class="form-error text-center text-red-500 mb-2 mt-2">
            {{ form_errors(registrationForm.plainPassword) }}
        </div>

        <button class="form-control py-1 px-2 rounded-full text-lg mb-3 bg-custom_boutton w-full border border-black" type="submit">Inscription</button>
        {{ form_end(registrationForm) }}

        <p class="text-xs">Vous avez déjà un compte ? <a href="{{ path('app_login') }}" class="text-black underline">Connectez-vous</a></p>
    </div>
</div>
{% endblock %}
