{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}
<div class="mx-auto md:py-4 md:px-20 bg-custom-green">
    {% include 'header.html.twig' %}
    <div class="flex justify-between items-center md:hidden py-2 ml-2">
        <a href="{{ path('app_profil') }}" class="md:hidden flex items-center py-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
            </svg>
            Profil
        </a>
    </div>
</div>
<div class="flex flex-col md:flex-row items-start justify-center ml-4 mr-4 mt-4 md:ml-16 md:mr-16 md:mt-8">
    <div class="md:w-3/4 mx-auto md:mx-0">
        <h1 class="font-cotorisHeavy text-3xl text-center mb-8">Modifier mon mot de passe</h1>

        <form method="post" class="w-full">
            {{ form_start(form) }}
            {{ form_label(form.password.first, 'Mot de passe actuel*', { 'label_attr': { 'class': 'font-semibold' } }) }}
            {{ form_widget(form.password.first, {
            label: false,
            attr: {
            class: 'form-control py-2 px-4 rounded-full w-full text-lg mb-3',
            placeholder: 'Mot de passe actuel',
            required: 'required',
            }
            }) }}
            <div class="form-error text-center text-red-500 mb-2 mt-2">
                {{ form_errors(form.password.first) }}
            </div>
            {{ form_label(form.password.second, 'Confirmation du mot de passe actuel*', { 'label_attr': { 'class': 'font-semibold' } }) }}
            {{ form_widget(form.password.second, {
            label: false,
            attr: {
            class: 'form-control py-2 px-4 rounded-full w-full text-lg mb-3',
            placeholder: 'Confirmation du mot de passe actuel',
            required: 'required',
            }
            }) }}
            <div class="form-error text-center text-red-500 mb-2 mt-2">
                {{ form_errors(form.password.second) }}
            </div>
            {{ form_label(form.newPassword, 'Nouveau mot de passe*', { 'label_attr': { 'class': 'font-semibold' } }) }}
            {{ form_widget(form.newPassword, {
            label: false,
            attr: {
            class: 'form-control py-2 px-4 rounded-full w-full text-lg mb-3',
            placeholder: 'Nouveau mot de passe',
            required: 'required',
            }
            }) }}
            <div class="form-error text-center text-red-500 mb-2 mt-2">
                {{ form_errors(form.newPassword) }}
            </div>

            <div class="flex justify-center">
                <button class="form-control py-2 px-2 rounded-full text-lg mb-3 bg-custom_boutton border border-black"
                    type="submit">Enregistrer</button>
            </div>
            {{ form_end(form) }}
        </form>
    </div>
</div>

{% include 'components/modalMobile.html.twig' %}
{% include 'footer.html.twig' %}
{% endblock %}
