{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe de l'utilisateur{% endblock %}

{% block body %}
<div class="mx-auto md:py-4 md:px-20 bg-custom-green-light">
	{% include 'header.html.twig' %}
	<div class="flex justify-between items-center md:hidden py-2 ml-2">
		<a href="{{ path('app_profil') }}" class="md:hidden flex items-center py-2">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor"
				class="h-6 w-6">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
			</svg>
			Profil
		</a>
	</div>
</div>
{% for message in app.flashes('warning') %}
    <div class="bg-yellow-300 border border-yellow-500 text-yellow-800 px-4 py-3 rounded relative animate-slide-down text-center" role="alert" style="animation: slideDown 5s ease-in-out forwards; position: fixed; top: 2%; left: 0; right: 0; width: max-content; margin-left: auto; margin-right: auto;">
        <strong class="font-bold">Attention !</strong>
        <span class="block sm:inline">{{ message }}</span>
    </div>
{% endfor %}
<div class="flex items-center justify-center content-center h-svh bg-custom-green-light">
    <form method="post" class="flex flex-col items-center sm:w-96 h-auto m-auto bg-custom-green rounded-[30px] shadow-md p-6 space-y-3 mx-4 sm:mx-0">
        <h1 class="text-3xl font-bold mb-3 text-center">Modifier mon mot de passe</h1>

        {{ form_start(form) }}
        {{ form_widget(form.password.first, {
            attr: {
                class: 'form-control py-2 px-4 rounded-full w-full text-lg mb-3',
                placeholder: 'Mot de passe actuel',
                required: 'required',
            }
        }) }}
        <div class="form-error text-center text-red-500 mb-2 mt-2">
            {{ form_errors(form.password.first) }}
        </div>
        {{ form_widget(form.password.second, {
            attr: {
                class: 'form-control py-2 px-4 rounded-full w-full text-lg mb-3',
                placeholder: 'Confirmation du mot de passe actuel',
                required: 'required',
            }
        }) }}
        <div class="form-error text-center text-red-500 mb-2 mt-2">
            {{ form_errors(form.password.second) }}
        </div>
        {{ form_widget(form.newPassword, {
            attr: {
                class: 'form-control py-2 px-4 rounded-full w-full text-lg mb-3',
                placeholder: 'Nouveau mot de passe',
                required: 'required',
            }
        }) }}
        <div class="form-error text-center text-red-500 mb-2 mt-2">
            {{ form_errors(form.newPassword) }}
        </div>

        <button class="form-control py-1 px-2 rounded-full text-lg mb-3 bg-custom_boutton w-full border border-black" type="submit">Enregistrer</button>
        {{ form_end(form) }}
    </div>
</div>

{% include 'components/modalMobile.html.twig' %}
{% include 'footer.html.twig' %}
{% endblock %}
