{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
<div class="alert alert-success mt-4">
    {{ message }}
</div>
{% endfor %}

<h1>{{ user.Nom }} {{ user.Prenom }}</h1>
<p>Email: {{ user.email }}</p>
<p>Date d'inscription: {{ user.dateInscription|date('d-m-Y') }}</p>
<p>Adresse: {{ user.Adresse }}</p>
<p>Téléphone: {{ user.Telephone }}</p>

<a href="{{ path('app_profil_edit') }}" class="btn btn-primary">Modifier le profil</a>
{% endblock %}